<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>

<body>
    <h1>Todo List</h1>
    <a href="/todos/new">Add New Todo</a>
    <ul>
        <% todos.forEach(todo=> { %>
            <li>
                <%= todo.title %> - <%= todo.completed ? 'Completed' : 'Incomplete' %>
                        <a href="/todos/edit/<%= todo._id %>">Edit</a>
                        <a href="/todos/delete/<%= todo._id %>">Delete</a>
            </li>
            <% }) %>
    </ul>
</body>

</html>